<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">

    <meta charset="UTF-8">
    <title th:text="${titulo}">Portfolio Admin</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" th:href="@{/}">Portfolio</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/proyectos/new}">Proyectos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/experiencias/new}">Experiencias</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/estudios/new}">Estudios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/lenguajes/new}">Lenguajes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/info/edit}">Info</a>
                </li>

            </ul>

        </div>

    </div>

</nav>

</body>
</html>
